.gradient {
    background: linear-gradient(90deg,  #6190E8 0%, #A7BFE8 100%);
}  
.custom-blue {
  background-color: #6190E8;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero_image_2.jpg");
    height: 50%;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/page_header_cart.jpg");
    height: 50%;
    background-position: 50% 45%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.advert-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/page_header_cart.jpg");
    height: 18rem;
    background-position: 50% 45%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Accordiion */
label:after {
    content: '+';
    position: absolute;
    right: 1em;
    color: #aaaaaa;
}
input:checked + label:after {
    content: '-';
    line-height: .8em;
}
.accordion__content{
    max-height: 0em;
    transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
input[name='panel']:checked ~ .accordion__content {
  /* Get this as close to what height you expect */
    max-height: 50em;
}

/* Icons */
.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
          animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

/* Alert: Toast notifications */
.notification-container {
	position: fixed;
	z-index: 999999
}

.bottom-right {
	bottom: 30px;
	right: 30px;
	transition: transform .12s ease-in-out;
	animation: toast-in-right .15s;
}

@keyframes toast-in-right {
	from {
    transform: translateX(100%);
	}
	to {
    transform: translateX(0);
	}
}
