.gradient {
    background: linear-gradient(90deg,  #6190E8 0%, #A7BFE8 100%);
}  
.custom-blue {
  background-color: #6190E8;
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/woman_computer.jpg");
    height: 50%;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/smartphone-holding-blue.jpg");
    height: 50%;
    background-position: 50% 45%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Accordiion */
label:after {
    content: '+';
    position: absolute;
    right: 1em;
    color: #aaaaaa;
}
input:checked + label:after {
    content: '-';
    line-height: .8em;
}
.accordion__content{
    max-height: 0em;
    transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
input[name='panel']:checked ~ .accordion__content {
  /* Get this as close to what height you expect */
    max-height: 50em;
}

/* Tooltip */
.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 2px 6px;
  position: absolute;
  z-index: 100;
  transition-duration: 300ms;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}
